.background-page {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

/* dark theme custom CSS */
:root {
  --primary-color: hsl(0, 100%, 100%);
  --secondary-color: hsl(0, 100%, 0%);
}

[dark-theme="dark"]{
  --background-color: hsl(0, 100%, 0%);
  --text-color: hsl(0, 100%, 100%);
}

.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.toggle-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nunito sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.title {
  font-family: 'Nunito sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: hsl(0, 100%, 0%);
  background-color: hsl(0, 100%, 100%);
}

.background-page {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #FAFAFA
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  outline: none;
}

.search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  justify-content: space-between;
  font-family: 'Nunito sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: hsl(0, 100%, 100%);
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Nunito sans', sans-serif;
  border: none;
  padding: 10px;
  padding-right: 100px;
  background-color: hsl(0, 100%, 100%);
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: hsl(0, 100%, 100%);
  font-family: 'Nunito sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.dropdown-item {
  float: none;
  display: flex;
  text-align: flex-start;
  text-decoration: none;
  font-family: 'Nunito sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}


.grid-container-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
  background-color: #FAFAFA
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  overflow: hidden;
}

.countries-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  width: 250px;
  height: 300px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px;
}

.country-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.country-flag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px 10px;
}

.country-name {
  float: none;
  display: block;
  text-align: left;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Nunito sans', sans-serif;
  font-size: 0.5rem;
  font-weight: 600;
}

.country-detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  align-items: left;
  width: 100%;
}

.country-detail-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito sans', sans-serif;
}

.country-detail {
  display: flex;
  text-align: left;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.country-detail-actual {
  display: flex;
  text-align: left;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'Nunito sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: hsl(0, 100%, 100%);
}

.go-back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2px;
  width: 100px;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'Nunito sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: hsl(0, 100%, 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.individual-background-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #FAFAFA;
}

.individual-country-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px;
}

.individual-country-image-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: auto;
  padding: 10px;
  overflow: hidden;
}

.individual-country-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 10px;
  overflow: hidden;
  border: black 1px solid;
}

.individual-country-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Nunito sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  align-items: left;
  width: 100%;
}

.individual-grid-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  .card-list {
    display: flex;
    flex-direction: column;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .individual-background-page {
    flex-direction: column;
    justify-content: left;
    padding-left: 40px;
    padding-right: 40px;
  }

  .individual-country-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .individual-country-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: black 1px solid;
  }

  .individual-country-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .individual-country-details {
    padding-left: 20px;
    width: 100%;
  }

  .individual-grid-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  .card-list {
    display: flex;
    flex-direction: column;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .individual-background-page {
    display: flex;
    flex-direction: column;
  }

  .individual-country-image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .individual-country-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: black 1px solid;
  }

  .individual-country-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .individual-country-details {
    padding-left: 20px;
    width: 100%;
  }

  .individual-grid-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}