.background-page {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: hsl(0, 100%, 100%);
}

.title {
  font-family: 'Nunito sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.background-page {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #FAFAFA
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  outline: none;
}

.search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Nunito sans', sans-serif;
  outline: none;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10%;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Nunito sans', sans-serif;
  outline: none;
  background-color: hsl(0, 100%, 100%);
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2px;
  background-color: #FAFAFA;
  font-family: 'Nunito sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}