.background-page {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: hsl(0, 100%, 100%);
  padding: 2px;
}

.title {
  font-family: 'nunito-sans', 'sans-serif';
}

.background-page {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-color: hsl(0, 0%, 50%);
}